.table {
  border-collapse: collapse;
  margin: 1rem 0;
}

.table th,
.table td {
  border: 1px solid #eaeaea;
}

.table th {
  padding: 0.7rem;
}

.table td {
  font-size: 0.8rem;
  padding: 0.7rem;
}